/* Main Layout */
.main-container {
    display: flex;
    flex: 1;
    padding: 20px;
    flex-direction: row;
    overflow: hidden;
}

/* Main Content Area */
.main-content {
    flex: 1;
    background-color: #ffffff;
    padding: 0 20px;
    margin-left: 270px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    min-width: 0;
    overflow: hidden;
    margin-top: 0; /* Moved content higher */
    z-index: 1; /* Ensure content is underneath the sidebar */
}

/* Sidebar Styles - Make it float above the main content */
.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #e9ecef;
    position: fixed; /* Make the sidebar fixed and float */
    top: 70px; /* Keeps it below the header */
    left: 0; /* Sidebar stays on the left */
    z-index: 1000; /* Ensures it's above the main content */
    height: calc(100vh - 70px); /* Full height minus the header */
    overflow-y: auto; /* Allow scrolling if the content exceeds viewport height */
    transition: width 0.3s;
}

.sidebar.expanded {
    width: 300px;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #343a40;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 12px;
}

.sidebar ul li a {
    color: #007bff;
    text-decoration: none;
    font-size: 15px;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}



/* Project Header */
.project-header h1 {
    font-size: 28px;
    margin-bottom: 10px; /* Reduce margin below title */
}

.project-header p {
    font-size: 18px;
    margin-bottom: 20px; /* Compact description margin */
}

/* Google Colab Button Container */
.button-container {
    text-align: right; /* Align button to the right */
    margin-bottom: 20px; /* Add space below the button */
}

/* Google Colab Button Style */
.button-colab {
    display: inline-block;
    background-color: #ffcc00;
    color: #000;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.button-colab:hover {
    background-color: #ff9900;
    color: #fff;
}