<header class="top-bar">
    <div class="logo">
        <img src="/static/logo.png" alt="Logo" class="logo-img">
        <span>Datascience Adventure</span>
    </div>
    <nav class="top-nav">
        <a href="#" hx-get="/summary" hx-target="#main-content" hx-swap="innerHTML" class="nav-link">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Datascientist Training</button>
            <div class="dropdown-content">
                <a href="#" hx-get="/mission3" hx-target="#main-content" hx-swap="innerHTML" class="dropdown-link">Mission 3</a>
            </div>
        </div>
        <a href="#" hx-get="/load-contact" hx-target="#main-content" hx-swap="innerHTML" class="nav-link">Contact</a>
        <button class="dark-mode-toggle" hx-get="/toggle-dark-mode" hx-target="body" hx-swap="innerHTML" class="nav-link">🌙</button>
    </nav>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (window.location.pathname.includes('/mission3')) {
            document.addEventListener('scroll', function () {
                var header = document.querySelector('.top-bar');
                if (window.scrollY > 50) {
                    header.classList.add('shrink');
                } else {
                    header.classList.remove('shrink');
                }
            });
        }
    });
</script>
